[submodule "1_HTML_e_CSS_para_iniciantes/10_Projeto_Final/bikcraft"]
	path = 1_HTML_e_CSS_para_iniciantes/10_Projeto_Final/bikcraft
	url = https://github.com/Lucasgyn94/bikcraft.git
[submodule "1_HTML_e_CSS_para_iniciantes/07_Projeto_Porffolio/projeto_portfolio_final/portfolio"]
	path = 1_HTML_e_CSS_para_iniciantes/07_Projeto_Porffolio/projeto_portfolio_final/portfolio
	url = https://github.com/Lucasgyn94/portfolio-html-css.git
