body {
    height: 1200px;
    background-color: chocolate;
}

div {
    border: 2px solid #ccc;
    margin-top: 40px;
    padding: 20px 20px 40px 20px;
 
}

span {
    background-color: #e7e7e7;
    border: 2px solid #ccc;
    padding: 10px;

    position: relative;
    bottom: 20px;

   
}

/*
.fixo {
    position: fixed;
    top: 0px;
    left: 10px;
    right: 10px;
    bottom: 20px;
}
*/