.footer {
    background: #000000;
}

.footer__container {
    max-width: 1200px;
    padding: 7.5rem 1.25rem 3.75rem 1.25rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-items: center;
}

.footer__texto {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
    max-width: 35ch;
}

/* Atualização dos ícones na lista */
.footer__contato {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}



.footer__contato li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}

.footer__contato li a:hover {
    background-color: #333333;
    transform: scale(1.1);
}

.footer__contato li img {
    width: 30px;
    height: 30px;
}

.footer__copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8f8f8f;
    text-align: center;
}

@media (max-width: 800px) {
    .footer__container {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }

    .footer__contato {
        justify-content: center;
    }

    .footer__texto {
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}
